.flex-container {
  display: flex;
  flex-wrap: wrap;
}


.showtime {
  width: 150px;
  margin-right: 2rem;
  cursor: pointer;
}

.not-available {
  background-color: rgb(224, 224, 224);
  color: grey;
}